{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Tic-Tac-Toe{% endblock %}</title>
    {% tailwind_css %}
    {% load static %}
</head>

<body style="background-image: url(../static/images/background.png)" class="min-h-screen flex flex-col bg-gray-900 font-[Arial]">
    <header>
        <div></div>
    </header>

    <main class="grow">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-gray-950 text-center text-white py-7">
        Made by ♥Laura
    </footer>
</body>
</html>