{% extends "base.html" %}
{% load static %}
{% block title %}
Tic-Tac-Toe
{% endblock %}

{% block content %}
<div class="bg-gray-800 text-white text-center mx-auto my-[120px] max-w-[50%] py-[100px] px-[50px] rounded-[10px] shadow-md">
    <h1 class="text-[50px] font-semibold">Welcome to Tic-Tac-Toe!</h1>
    <div class="flex gap-[10px] items-center mt-[20px]">
        <a class="flex-1 bg-gray-950 rounded-sm text-[20px] py-[15px]" href="{% url 'users:login' %}">Log in</a>
        <a class="flex-1 bg-gray-950 rounded-sm text-[20px] py-[15px]" href="{% url 'users:register' %}">Sign up</a>
    </div>
</div>
{% endblock %}